#pragma once
#include "Game.hpp"

namespace UVK
{
    class ${{uppercase_name}}_PUBLIC_API ${{name}} : public ${{type}}
    {
    public:
        ${{name}}()
        {

        }

        virtual void beginPlay() override;
        virtual void endPlay() override;

        ${{add_tick_or_game_instance_functions_tick}}
        virtual ~${{name}}() override {};
    };
}