#include <${{name}}.hpp>

void UVK::${{name}}::beginPlay()
{
    ${{add_begin_auto_handle}}
}

${{add_tick_or_game_instance_functions}}

void UVK::${{name}}::endPlay()
{
    ${{add_end_auto_handle}}
}