[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/MadLadSquad/yaml-cpp.git
[submodule "utg"]
	path = utg
	url = https://github.com/MadLadSquad/UntitledTemplatingEngine.git
[submodule "ui18n"]
	path = ui18n
	url = https://github.com/MadLadSquad/UntitledI18N.git
[submodule "ucli"]
	path = ucli
	url = https://github.com/MadLadSquad/UntitledCLIParser.git
