#include "${{classname}}.hpp"

${{name}}::${{classname}}::${{classname}}()
{

}

${{name}}::${{classname}}::begin()
{
    beginAutohandle();

}

${{name}}::${{classname}}::tick(float deltaTime)
{
    tickAutohandle(deltaTime);

}

${{name}}::${{classname}}::end()
{
    endAutohandle();

}

${{name}}::${{classname}}::~${{classname}}()
{

}