#include "Instance.hpp"

${{name}}::Instance::Instance()
{

}

${{name}}::Instance::begin()
{
    beginAutohandle();

}

${{name}}::Instance::tick(float deltaTime)
{
    tickAutohandle(deltaTime);

}

${{name}}::Instance::end()
{
    endAutohandle();

}

${{name}}::Instance::~Instance()
{

}

${{name}}::Instance::onEventConfigureStyle()
{

}