#include "Instance.hpp"

${{name}}::Instance::Instance()
{

}

void ${{name}}::Instance::begin()
{
    beginAutohandle();

}

void ${{name}}::Instance::tick(float deltaTime)
{
    tickAutohandle(deltaTime);

}

void ${{name}}::Instance::end()
{
    endAutohandle();

}

${{name}}::Instance::~Instance()
{

}

void ${{name}}::Instance::onEventConfigureStyle(ImGuiStyle& style, ImGuiIO& io)
{

}