#pragma once
#ifdef _WIN32
    #define EXPORT __declspec(dllexport)
#else
    #define EXPORT
#endif

#ifdef __cplusplus
extern "C"
{
#endif
    EXPORT void modlibbegin();
    EXPORT void modlibtick(float deltaTime);
    EXPORT void modlibend();
#ifdef __cplusplus
}
#endif