UVKBuildTool - The universal UntitledVulkanGameEngine and UntitledImGuiFramework file generator
Arguments:
    ${{arguments}}
UVKBuild tool, made by MadLad Squad, developed and maintained by Stanislav Vasilev(Madman10K)