UVKBuildTool - The universal file generator for the UntitledImGuiFramework and static site generator for our websites
Arguments:
{{ arguments }}
UVKBuild tool, made by MadLad Squad, developed and maintained by Stanislav Vasilev(Madman10K)
