cmake_minimum_required(VERSION 3.21)

if (DEFINED PLUGIN_PREFIX)
    set(CMAKE_SOURCE_DIR "${PLUGIN_PREFIX}")
endif()
set(CMAKE_MODULE_PATH ${CMAKE_MODULE_PATH} "${CMAKE_SOURCE_DIR}/Framework/cmake/")
set(APP_LIB_TARGET "{{ name }}Lib")
set(APP_TARGET "{{ name }}")
include(Version)

if (NOT EMSCRIPTEN)
    project(UntitledImGuiFramework VERSION "${UIMGUI_FRAMEWORK_VERSION}")
    if (NOT WIN32)
        project(${APP_LIB_TARGET})
    endif ()
endif ()
project(${APP_TARGET})

include(UImGuiSetupCMake)