cmake_minimum_required(VERSION 3.21)

if (DEFINED PLUGIN_PREFIX)
    set(CMAKE_SOURCE_DIR "${PLUGIN_PREFIX}")
endif()
if (NOT DEFINED UIMGUI_SRC_PREFIX)
    set(UIMGUI_SRC_PREFIX "${CMAKE_SOURCE_DIR}")
endif()
set(CMAKE_MODULE_PATH ${CMAKE_MODULE_PATH} "${UIMGUI_SRC_PREFIX}/Framework/cmake/")
set(APP_LIB_TARGET "{{ name }}Lib")
set(APP_TARGET "{{ name }}")
include(Version)
include(UImGuiHeader)

if (NOT EMSCRIPTEN)
    if (NOT UIMGUI_SKIP_FRAMEWORK)
        project(UntitledImGuiFramework VERSION "${UIMGUI_FRAMEWORK_VERSION}")
    endif()
    if (NOT WIN32)
        project(${APP_LIB_TARGET})
    endif ()
endif ()
project(${APP_TARGET})

include(UImGuiSetupCMake)