    if (UIMGUI_INSTALL_FRAMEWORK)
        install(FILES ${PROJECT_BINARY_DIR}/UntitledImGuiFramework.pc DESTINATION lib/pkgconfig/)
        install(TARGETS UntitledImGuiFramework DESTINATION "{{ framework_dir }}")
        multicast(target_compile_definitions PRIVATE UIMGUI_FRAMEWORK_LIBRARY_DIR="${UIMGUI_INSTALL_PREFIX}/{{ framework_dir }}")
    endif()

    {{ application_library_dir }}

    install(TARGETS {{ name }} DESTINATION "{{ application_dir }}")
    multicast(target_compile_definitions PRIVATE UIMGUI_APPLICATION_DIR="${UIMGUI_INSTALL_PREFIX}/{{ application_dir }}")

    install(FILES uvproj.yaml DESTINATION "{{ config_dir }}")
    multicast(target_compile_definitions PRIVATE UIMGUI_PROJECT_DIR="${UIMGUI_INSTALL_PREFIX}/{{ config_dir }}")

    install(DIRECTORY "Config/" DESTINATION "{{ config_dir }}")
    multicast(target_compile_definitions PRIVATE UIMGUI_CONFIG_DIR="${UIMGUI_INSTALL_PREFIX}/{{ config_dir }}")

    if (NOT WIN32 AND EXISTS "../{{ content_dir }}")
        set(UIMGUI_INSTALL_CONTENT_DIR "../{{ content_dir }}")
    else()
        set(UIMGUI_INSTALL_CONTENT_DIR "{{ content_dir }}")
    endif()
    install(DIRECTORY "Content/" DESTINATION "${UIMGUI_INSTALL_CONTENT_DIR}")
    multicast(target_compile_definitions PRIVATE UIMGUI_CONTENT_DIR="${UIMGUI_INSTALL_PREFIX}/${UIMGUI_INSTALL_CONTENT_DIR}")

    install(DIRECTORY "Source/" DESTINATION "{{ application_include_dir }}" FILES_MATCHING PATTERN "*.h" PATTERN "*.hpp")
    multicast(target_compile_definitions PRIVATE UIMGUI_APPLICATION_INCLUDE_DIR="${UIMGUI_INSTALL_PREFIX}/{{ application_include_dir }}")

    if (UIMGUI_INSTALL_FRAMEWORK)
        install(DIRECTORY "Framework/" DESTINATION "{{ framework_include_dir }}/Framework" FILES_MATCHING PATTERN "*.h" PATTERN "*.hpp")
        install(FILES "export.sh" DESTINATION "{{ framework_include_dir }}" PERMISSIONS OWNER_READ OWNER_WRITE OWNER_EXECUTE GROUP_READ WORLD_READ)
        multicast(target_compile_definitions PRIVATE UIMGUI_FRAMEWORK_INCLUDE_DIR="${UIMGUI_INSTALL_PREFIX}/{{ framework_include_dir }}")
    endif()

    {{ custom_installs }}
