    if (UIMGUI_INSTALL_FRAMEWORK)
        install(TARGETS UntitledImGuiFramework DESTINATION "{{ framework_dir }}")
        target_compile_definitions(UntitledImGuiFramework PRIVATE UIMGUI_FRAMEWORK_LIBRARY_DIR="${UIMGUI_INSTALL_PREFIX}/{{ framework_dir  }}")
        if (NOT WIN32)
            target_compile_definitions({{ name }}Lib PRIVATE UIMGUI_FRAMEWORK_LIBRARY_DIR="${UIMGUI_INSTALL_PREFIX}/{{ framework_dir  }}")
        endif()
        target_compile_definitions({{ name }} PRIVATE UIMGUI_FRAMEWORK_LIBRARY_DIR="${UIMGUI_INSTALL_PREFIX}/{{ framework_dir  }}")
    endif()

    {{ application_library_dir }}

    install(TARGETS {{ name }} DESTINATION "{{ application_dir }}")
    target_compile_definitions(UntitledImGuiFramework PRIVATE UIMGUI_APPLICATION_DIR="${UIMGUI_INSTALL_PREFIX}/{{ application_dir  }}")
    if (NOT WIN32)
        target_compile_definitions({{ name }}Lib PRIVATE UIMGUI_APPLICATION_DIR="${UIMGUI_INSTALL_PREFIX}/{{ application_dir  }}")
    endif()
    target_compile_definitions({{ name }} PRIVATE UIMGUI_APPLICATION_DIR="${UIMGUI_INSTALL_PREFIX}/{{ application_dir  }}")

    install(FILES uvproj.yaml DESTINATION "{{ config_dir }}")
    target_compile_definitions(UntitledImGuiFramework PRIVATE UIMGUI_PROJECT_DIR="${UIMGUI_INSTALL_PREFIX}/{{ config_dir  }}")
    if (NOT WIN32)
        target_compile_definitions({{ name }}Lib PRIVATE UIMGUI_PROJECT_DIR="${UIMGUI_INSTALL_PREFIX}/{{ config_dir  }}")
    endif()
    target_compile_definitions({{ name }} PRIVATE UIMGUI_PROJECT_DIR="${UIMGUI_INSTALL_PREFIX}/{{ config_dir  }}")

    install(DIRECTORY "Config/" DESTINATION "{{ config_dir }}")
    target_compile_definitions(UntitledImGuiFramework PRIVATE UIMGUI_CONFIG_DIR="${UIMGUI_INSTALL_PREFIX}/{{ config_dir  }}")
    if (NOT WIN32)
        target_compile_definitions({{ name }}Lib PRIVATE UIMGUI_CONFIG_DIR="${UIMGUI_INSTALL_PREFIX}/{{ config_dir  }}")
    endif()
    target_compile_definitions({{ name }} PRIVATE UIMGUI_CONFIG_DIR="${UIMGUI_INSTALL_PREFIX}/{{ config_dir  }}")

    install(DIRECTORY "Content/" DESTINATION "{{ content_dir }}")
    target_compile_definitions(UntitledImGuiFramework PRIVATE UIMGUI_CONTENT_DIR="${UIMGUI_INSTALL_PREFIX}/{{ content_dir  }}")
    if (NOT WIN32)
        target_compile_definitions({{ name }}Lib PRIVATE UIMGUI_CONTENT_DIR="${UIMGUI_INSTALL_PREFIX}/{{ content_dir  }}")
    endif()
    target_compile_definitions({{ name }} PRIVATE UIMGUI_CONTENT_DIR="${UIMGUI_INSTALL_PREFIX}/{{ content_dir  }}")

    install(DIRECTORY "Source/" DESTINATION "{{ application_include_dir }}" FILES_MATCHING PATTERN "*.h" PATTERN "*.hpp")
    target_compile_definitions(UntitledImGuiFramework PRIVATE UIMGUI_APPLICATION_INCLUDE_DIR="${UIMGUI_INSTALL_PREFIX}/{{ application_include_dir  }}")
    if (NOT WIN32)
        target_compile_definitions({{ name }}Lib PRIVATE UIMGUI_APPLICATION_INCLUDE_DIR="${UIMGUI_INSTALL_PREFIX}/{{ application_include_dir  }}")
    endif()
    target_compile_definitions({{ name }} PRIVATE UIMGUI_APPLICATION_INCLUDE_DIR="${UIMGUI_INSTALL_PREFIX}/{{ application_include_dir  }}")

    if (UIMGUI_INSTALL_FRAMEWORK)
        install(DIRECTORY "Framework/" DESTINATION "{{ framework_include_dir }}" FILES_MATCHING PATTERN "*.h" PATTERN "*.hpp")
        target_compile_definitions(UntitledImGuiFramework PRIVATE UIMGUI_FRAMEWORK_INCLUDE_DIR="${UIMGUI_INSTALL_PREFIX}/{{ framework_include_dir  }}")
        if (NOT WIN32)
            target_compile_definitions({{ name }}Lib PRIVATE UIMGUI_FRAMEWORK_INCLUDE_DIR="${UIMGUI_INSTALL_PREFIX}/{{ framework_include_dir  }}")
        endif()
        target_compile_definitions({{ name }} PRIVATE UIMGUI_FRAMEWORK_INCLUDE_DIR="${UIMGUI_INSTALL_PREFIX}/{{ framework_include_dir  }}")
    endif()

    {{ custom_installs }}
