set(USE_OS_MODULE           {{ os }})
set(ENABLE_UEXEC            {{ uexec }})
set(ENABLE_UOPEN            {{ open }})
set(ENABLE_XDG_BASEDIR      {{ xdg }})
set(ENABLE_DBUS_UTILS       {{ dbus }})

set(USE_THEME_MODULE        {{ theming }})
set(USE_I18N_MODULE         {{ i18n }})
set(USE_UNDO_MODULE         {{ undo-redo }})
set(USE_CLI_PARSER_MODULE   {{ cli-parser }})

set(USE_PLOTTING_MODULE     {{ plotting }})
set(USE_KNOBS_MODULE        {{ knobs }})
set(USE_SPINNER_MODULE      {{ spinners }})
set(USE_TOGGLES_MODULE      {{ toggles }})
set(USE_TEXT_UTILS_MODULE   {{ text-utils }})
